<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Sony Developer Test: Phil Shum 06/13</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/bootstrap-responsive.css" rel="stylesheet" />
  </head>
  <body>
	<h1>Sony Developer Test</h1>
	<h2>Phil Shum 06/13</h2>
	<nav>
		<ul class="inline">
			<li><a href="/#">home</a></li>
			<li><a href="/#login">login</a></li>
			<li><a href="/#titles">titles</a></li>
		</ul>
	</nav>
	<section id="Main">

	</section>


	<script type="text/template" id="HomeTemplate">
	  <section class="home">
		<h3>Home</h3>
	  </section>
	</script>

	<script type="text/template" id="LoginTemplate">
		<section class="login">
			<h3>Login</h3>
			<form class="form-inline">
				<input class="username" name="username" type="text" placeholder="username" />
				<input class="password" name="password" type="password" placeholder="password" />
				<button type="submit" class="btn">Login</button>
			</form>
		</section>
	</script>

	<script type="text/template" id="LoggedinTemplate">
		<section class="login">
			<h3>Login</h3>
			<span class="username">Welcome back, <a href="#profile"><%=username%></a>!</span>
			<a class="logout" href="#logout">logout</a>
		</section>
	</script>

	<script type="text/template" id="TitleTemplate">
		<dt data-id="<%=id%>"><%=name%></dt>
		<dd><%=description%></dd>
	</script>

	<script type="text/template" id="UserTemplate">
		<section class="user">
			<h3>User</h3>
			<p><a href="#profile/games">games</a></p>
			<form>
				<input type="hidden" value="<%= userId %>" />
				<label for="username">username</label>
				<input type="text" name="username" class="" value="<%= username %>" />
				<label for="firstName">firstName</label>
				<input type="text" name="firstName" class="" value="<%= firstName %>" />
				<label for="lastName">lastName</label>
				<input type="text" name="lastName" class="" value="<%= lastName %>" />
				<label for="password">password</label>
				<input type="text" name="password" class="" value="<%= password %>" />
				<label for="phoneNumber">phoneNumber</label>
				<input type="text" name="phoneNumber" class="" value="<%= phoneNumber %>" />
				<label for="age">age</label>
				<input type="text" name="age" class="" value="<%= age %>" />
				<label for="genderIsFemale">genderIsFemale</label>
				<input type="checkbox" name="genderIsFemale" class="" checked="<%= genderIsFemale%>" />
				<label for="notes">notes</label>
				<textarea name="notes" class="" rows="3"><%= notes %></textarea>
				<button class="btn save">save changes</button>
			</form>
		</section>
	</script>

	<script type="text/template" id="TitlesTemplate">
		<h3>Titles</h3>
		<dl></dl>
	</script>

	<script src="js/external/require.js"></script>
	<script>
	  require.config({
		baseUrl: 'js',
		paths: {
		  backbone: 'external/backbone-min',
		  underscore: 'external/underscore-min',
		  jquery: 'external/jquery-2.0.2.min',
		  cookie: 'external/jquery.cookie',
		  json2: 'external/json2',
		  bootstrap: 'external/bootstrap.min',
		  marionette: 'external/backbone.marionette.min',
		  babysitter: 'external/backbone.babysitter',
		  wreqr: 'external/backbone.wreqr',
		  sinon: 'external/sinon-1.7.1'
		},
		waitSeconds: 5,
		shim: {
			cookie: {
				deps: ['jquery'],
			},
			json2: {
				exports: 'JSON'
			},
			backbone: {
			  deps: ['underscore', 'jquery', 'json2'],
			  exports: 'Backbone'
			},
			underscore: {
			  exports: '_'
			},
			bootstrap: {
			deps: ['jquery'],
			},
			babysitter: {
			deps: ['backbone']
			},
			wreqr: {
			deps: ['backbone']
			},
			marionette: {
				deps: ['backbone', 'babysitter', 'wreqr'],
				exports: 'Marionette'
			},
			sinon: {
				exports: 'Sinon'
			}
		}
	  });

	  var options = {

	  }

	  require( ['sony'], function(Sony){
		Sony.start(options);
	  });


	</script>
  </body>
</html>