<script type="text/template" id="AboutTemplate">
	<h3>About</h3>
	<p>Project source available at <a href="https://github.com/philpill/project">Github</a></p>
	<p>Project available to view online at: <a href="http://industrialnation.co.uk/sony/">http://industrialnation.co.uk/sony/</a></p>
	<p>Technologies incorporated: <a href="http://backbonejs.org/">Backbone</a>, <a href="http://marionettejs.com/">Marionette</a>, <a href="http://requirejs.org/">Require</a>, <a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a>, <a href="http://sinonjs.org/">Sinon</a>, <a href="http://sass-lang.com/">SASS</a></p>
	<p>Developed using: <a href="https://code.google.com/p/mongoose/">Mongoose web server</a>, Sublime Text 2, Git</p>
	<p>Tested on: Firefox 21, Chrome 27</p>

	<p>Note: Javascript optimized using <a href="http://requirejs.org/docs/optimization.html">r.js</a>. To run optimizer: <code>node external/r.js -o build.js</code></p>

	<p>Question/Comments: contact@philshum.co.uk</p>
</script>