<script type="text/template" id="HomeTemplate">
	<section class="home">
		<h3>Home</h3>

		<h4>Log in / sign up</h4>
		<p>If you already have a My Sony account, please log in or become a member in just a few clicks.</p>

		<h4>Register your product</h4>
		<p>Register your Sony products today for exclusive news and offers. We can also help you get more out of your product with easy access to support, user manuals and tutorials.</p>

		<h4>My newsletters</h4>
		<p>Stay up to date with the latest product info, news and offers that matter to you - Just let us know the areas you are interested in and we&apos;ll send you regular updates.</p>

	</section>
</script>