<script type="text/template" id="UserTitlesTemplate">
	<h3>Games Library</h3>
	<ol></ol>
	<section class="addTitle">
		<form>
			<fieldset>
				<legend>Add More Games To Your Library</legend>
				<label for="title">Title</label>
				<input type="text" name="title" class="title" placeholder="Title" />
				<label for="description">Description</label>
				<input type="text" name="description" class="description" placeholder="description" />
				<button class="btn add">Save New Title</button>
			</fieldset>
		</form>
	</section>
</script>